<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>441055602065-5g12r7ddgm700gifp77lonohf4all6n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441055602065-5g12r7ddgm700gifp77lonohf4all6n4</string>
	<key>API_KEY</key>
	<string>AIzaSyBwv7-t5tfElbmp4C9tyP5AkA0h6o0ER8s</string>
	<key>GCM_SENDER_ID</key>
	<string>441055602065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravishKumar.tabbed</string>
	<key>PROJECT_ID</key>
	<string>khori-3a84d</string>
	<key>STORAGE_BUCKET</key>
	<string>khori-3a84d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441055602065:ios:aa979cc2792cc4ee</string>
	<key>DATABASE_URL</key>
	<string>https://khori-3a84d.firebaseio.com</string>
</dict>
</plist>